.content
  %h1= @article ? @article.title : "...¡Y Botó el Chupo!"
  .fb-like.like-bar{"data-href" => "http://www.botoelchupo.com", "data-action" => "like", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "450"}
  - if @article
    = raw @article.content
  - else
    %p
      Esta es una página acerca de
      %strong botar el chupo.
      Actualmente no tiene contenido, pero ¡gracias por visitar!
