.content
  %h1 ...¡Y Botó el Chupo!
  -# "data-href" => "http://www.botoelchupo.com",
  .fb-like.like-bar{"data-action" => "like", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "450"}
  %p
    Esta es una página acerca de
    %strong botar el chupo
    En serio, no tiene otro propósito, motivo o razón de ser, aparte de ser una página acerca de botar el chupo. Para aquellos no familiarizados con la terminología, en la costa caribe colombiana la expresión "botó el chupo" se utiliza para referirse al repentino estallido de ira de una persona que ha tratado de mantener la calma mientras sus congéneres tratan de enervarlo y, en últimas, lo logran. Su origen está relacionado con la forma en la que los bebés lanzan agresivamente su
    %em chupo
    (chupete o chupón en otras partes del mundo) cuando hacen un berrinche.
  %p Ejemplos del correcto empleo de la expresión “botó el chupo” son los siguientes:
  %ul
    %li
      El man
      %strong botó el chupo
      y encendió al flaco a
      %em garnatás
    %li
      Llevo esperando aquí como dos horas y nada que me atienden.
      %strong Estoy que boto el chupo
      marica.
    %li
      Nada, que los del curso estaban haciendo culo de relajo, el profesor
      %strong botó el chupo
      y nos la enterró en el examen.
    %li
      Sigue jodiendo pa’ que veas. Te estás buscando que
      %strong bote el chupo
      y te zampe tu patá.
    %li
      Joda, si ese man es full tranquilo. Yo nunca lo había visto
      %strong botar el chupo
      así.
    %li
      Pilas que cuando Sandra
      %strong bota el chupo
      ella no tiene que vé con nada, va tirando
      %em mondacazo y trompá
      a diestra y siniestra.
    %li
      Escóndele la billetera, pa’ ve si
      %strong bota el chupo
      Pa’ ve, pa’ ve.
    %li
      Nombe si ese man jode a todo el mundo pero tu no le puedes joder la vida a él porque
      %strong bota el chupo
      facilito.
    %li
      El man que estaba disfrazado de Papá Noel
      %strong botó el chupo
      y se fue encuerando así sin asco.
  %p Nótese que ninguna de las oraciones anteriores es “el bebé estaba enojado, por ende, botó el chupo”. Porque esa es una frase de rolo mamerto illuminati. Y si los costeños colombianos le tienen fobia a algo es a los rolos que, además de ser mamertos, también son illuminati.
  %p Ejemplos de oraciones en las que es incorrecto el uso de la expresión “botó el chupo”.
  %ul
    %li Ala, que muchacha tan chusca. Me va a hacer botar el chupo. (?)
    %li Que changua exquisita, mi rey. Botaré el chupo cada vez que la recuerde. (What the fuck?)
    %li Observen todos mis medias nuevas que me estrené en la playa en Santa Marta, ala. Hacen que mi vestido entero bote el chupo. (¡NO! ¡NO!)
    %li ¡Uy! El señor se cayó y perdió el conocimiento. Llévenlo de inmediato al hospital, antes de que bote el chupo aquí en medio de la Plaza de Bolivar. (¿¡Pero qué demonios!?)
    %li Oiga, weón, weón, si es que yo voy a Chía y eso en seguida me pongo nostálgico como una nena y boto el chupo. (¡Mal!)
  %p A continuación la que probablemente es la imagen más representativa jamás tomada en la historia de la humanidad de la expresión "botó el chupo". Jamás nunca una imagen capturó de manera tan fiel y tan perfecta lo que es el acto de botar el chupo. La imagen es la quintaesencia de botar el chupo en su forma más pura e inmaculada. ¡Contemplad!
  %p.center
    =image_tag("chupo.jpg", size: "604x453", alt: "botar el chupo, botó el chupo", title: "Botó el chupo")
  %p En esta foto, el muchacho de camiseta negra que puede verse claramente en la parte izquierda de la imagen, se ha levantado con agresividad y ha golpeado brutalmente a la señora del aseo del centro comercial en el que ocurrieron los eventos, debido a que inadvertidamente roció detergente sobre su deliciosa hamburguesa de McDonalds, al confundirla con un zapato viejo. Luego entonces, se podría decir que el joven "botó el chupo".
  %p Ahora ya eres todo un experto en el uso de la expresión "botó el chupo". Por favor, úsala apropiadamente. No seas como Tito, quién es un rolo mamerto illuminati que usa medias en la playa y dice pendejadas tan o mas grandes como las que puedes encontrar en esta página.
  %p ¡Gracias por tu visita!

  - if @article
    .the-div
      = raw @article.content
